.App {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(14, 0, 64, 0.95);
}

.App-header {
  background-color: #040000;
  color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
}

.search-bar {
  flex-grow: 1;
  margin: 0 150px;
  display: flex;
}

.search-bar input[type='text'] {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  margin-right: 10px;
}

.search-bar button {
  background-color: #1d0067;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.filter, .likes, .watchlist, .login {
  padding: 8px 16px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  margin-right: 7px;
}

.content {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 6fr));
  grid-gap: 25px; /* Increase the gap between cards */
  padding: 20px; /* Add padding to the container */
}

.card {
  position: relative; /* Positioning context for buttons which are absolutely positioned */
  border-radius: 15px;
  overflow: hidden;
  background-color: #7c0935;
  box-shadow: 0 2px 4px rgba(16, 16, 16, 0.786);
  height: 400px; /* Set the height of the card containers */
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  display: block;
  object-fit: cover; 
  box-shadow: 0 2px 4px rgba(15, 1, 14, 0.658);
}

.card-info {
  padding: 10px;
}

.card-info h2 {
  font-size: 15px;
  margin: 15px 0;
  color: #fff;
}

.card-info p {
  margin: 3px 0;
  color: #bbb;
  font-size:70%;
  margin-bottom: 3px;
}

.card-info p.genre {
  margin-bottom: 5px; /* Add margin-bottom to create a gap */
}

.like-btn, .wtchl-btn {
  border: none;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  color: rgb(245, 248, 247);
}


.card-button {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  top: 0;
  padding: 5px;
  position: absolute;
  width: 85%;
  z-index: 1;
}

.liked-items {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8); /* transparency */
  padding: 20px;
  border: none;
  width: 97%;
  margin-right: 45px;
  z-index: 2;
  border-radius: 15px;
  left: 0;
  display:flexbox;
  flex-wrap: wrap;
  flex-direction: row;
  right: 0;
}

.liked-items h2 {
  margin-bottom: 10px;
}

.liked-items ul {
  padding: 10;
}

.liked-items li {
  margin-bottom: 10px;
}

.liked-items button {
  color: rgb(9, 9, 9);
  border: none;
  padding: 3px 7px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 7px;
}

.liked-items button:hover {
  background-color:#7c0935;
}

.watchlist-dropdown {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8); /* transparency */
  padding: 20px;
  border: none;
  width: 97%;
  margin-right: 45px;
  z-index: 2;
  border-radius: 15px;
  left: 0;
  display:flexbox;
  flex-wrap: wrap;
  flex-direction: row;
  right: 0;
}

.watchlist-dropdown h2 {
  margin-bottom: 10px;
}

.watchlist-dropdown ul {
  padding: 10;
}

.watchlist-dropdown li {
  margin-bottom: 10px;
}

.watchlist-dropdown button {
  color: rgb(9, 9, 9);
  border: none;
  padding: 3px 7px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 7px;
}

.watchlist-dropdown button:hover {
  background-color:#7c0935;
}
