.App {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(14, 0, 64, 0.95);
}

.App-header {
  background-color: #040000;
  color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
}

.search-bar {
  flex-grow: 1;
  margin: 0 150px;
  display: flex;
}

.search-bar input[type='text'] {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  margin-right: 10px;
}

.search-bar button {
  background-color: #1d0067;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.filter, .profile, .watchlist, .login {
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
}

.content {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-gap: 30px; /* Increase the gap between cards */
  padding: 20px; /* Add padding to the container */
}

.card {
  position: relative; /* Positioning context for buttons which are absolutely positioned */
  border-radius: 15px;
  overflow: hidden;
  background-color: #7c0935;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.786);
  height: 400px; /* Set the height of the card containers */
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  display: block;
  object-fit: cover; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.658);
}

.card-info {
  padding: 10px;
}

.card-info h2 {
  font-size: 15px;
  margin: 15px 0;
  color: #fff;
}

.card-info p {
  margin: 3px 0;
  color: #bbb;
  font-size:70%;
  margin-bottom: 3px;
}

.card-info p.genre {
  margin-bottom: 5px; /* Add margin-bottom to create a gap */
}

.like-btn, .wtchl-btn {
  border: none;
  cursor: pointer;
  font-size: 15px;
  background-color: transparent;
  color: rgb(245, 248, 247);
}

.wtchl-btn {
  font-size: 25px;
}

.card-button {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  margin-top: auto;
  top: 0;
  padding: 5px;
  position: absolute;
  width: 85%;
  z-index: 1;
}




