/* App.css */

/* Define styles for desktop screens */
.filter {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .filter label {
    margin-right: 10px;
  }
  
  .filter select {
    padding: 8px 12px;
    font-size: 16px;
  }
  
  /* Media query for smaller screens */
  @media only screen and (max-width: 768px) {
    .filter {
      margin-right: 0;
      margin-top: 10px; /* Adjust spacing */
    }
  
    .filter select {
      width: 100%;
    }
  }
  