.filter select {
    padding: 8px 16px;
    border-radius: 25px; 
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
    background-color: transparent;
    color: #3700a6; 
    border: 2px solid #3700a6; /* Match button border */
}
  
.filter select:hover {
    background-color: #7c0935; 
    color: white; 
}

